@media screen and (max-width: 1440px) {
  .index_header .left_header {
    width: 39%;
  }
  .index_header .left_header .h1_index {
    font-size: 50px;
  }
  .index_header .right_header {
    width: 61%;
  }
}
@media screen and (max-width: 1200px) {
  .index_header .left_header {
    width: 40%;
  }
  .index_header .left_header .txt1_index {
    font-size: 24px;
  }
  .index_header .left_header .h1_index {
    font-size: 40px;
  }
  .index_header .left_header .txt2_index {
    font-size: 34px;
  }
  .index_header .right_header {
    width: 60%;
  }
}
@media screen and (max-width: 992px) {
  .index_header {
    flex-direction: column;
    height: auto;
  }
  .index_header .left_header {
    width: 100%;
    padding-bottom: 40px;
    background-position: 0px 50px;
  }
  .index_header .left_header .box_left_menu_index .burger_menu {
    display: flex;
  }
  .index_header .left_header .txt1_index {
    font-size: 26px;
    margin-top: 100px;
  }
  .index_header .left_header .h1_index {
    font-size: 44px;
  }
  .index_header .left_header .txt2_index {
    font-size: 38px;
  }
  .index_header .right_header {
    width: 100%;
  }
  .index_header .right_header .box_right_menu_index {
    display: none;
  }
  .index_header .right_header .box_alphabet {
    margin-top: 0;
    padding: 150px 0;
  }
  .index_header .right_header .box_alphabet p {
    background: rgba(197, 197, 197, 0.5);
  }

  .home_blog .h1_home_blog {
    font-size: 34px;
  }
  .home_blog .box_new_blog {
    height: 250px;
  }
  .home_blog .box_new_blog .box_img_new_blog {
    width: 330px;
  }
  .home_blog .box_new_blog .txt_new_blog {
    width: calc(100% - 330px);
    padding-right: 30px;
  }
  .home_blog .box_new_blog .txt_new_blog a {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .home_blog .box_new_blog .txt_new_blog .txt_home_new_blog {
    font-size: 16px;
  }

  .general_test {
    height: auto;
  }
  .general_test .box_menu_test {
    grid-template-columns: 0.7fr;
    grid-template-rows: 200px 200px;
    justify-content: center;
  }
  .general_test .box_menu_test .item_menu:nth-child(1) {
    border-bottom: 1px solid gray;
    padding-bottom: 60px;
  }

  .catalog_home_instrument .catalog_menu_instrument {
    grid-template-columns: 70%;
    grid-template-rows: 200px 200px;
    justify-content: center;
  }

  .catalog_takheometr {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 200px 200px 200px;
  }
  .catalog_takheometr .h1_catalog_takheometr {
    grid-column: 1/3;
  }
  .catalog_takheometr .box_taheo_geomax {
    grid-column: 1/2;
    grid-row: 2;
  }
  .catalog_takheometr .box_taheo_leica {
    grid-column: 2/3;
    grid-row: 2;
  }
  .catalog_takheometr .box_taheo_nikon {
    grid-column: 1/2;
    grid-row: 3;
  }
  .catalog_takheometr .box_taheo_sokkia {
    grid-column: 2/3;
    grid-row: 3;
  }
  .catalog_takheometr .box_taheo_topcon {
    grid-column: 1/2;
    grid-row: 4;
  }
  .catalog_takheometr .box_taheo_trimble {
    grid-column: 2/3;
    grid-row: 4;
  }

  .instrument_takheometr .title_table_download_instruction {
    width: 100%;
  }
  .instrument_takheometr .data_table_download_instruction {
    width: 100%;
  }
  .instrument_takheometr .box_img_instruction_instrument {
    grid-template-rows: 200px 300px 300px;
  }

  .catalog_nivelir {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 200px 200px 200px;
  }
  .catalog_nivelir .h1_catalog_nivelir {
    grid-column: 1/3;
  }
  .catalog_nivelir .box_nivelir_geomax {
    grid-column: 1/2;
    grid-row: 2;
  }
  .catalog_nivelir .box_nivelir_leica {
    grid-column: 2/3;
    grid-row: 2;
  }
  .catalog_nivelir .box_nivelir_nicon {
    grid-column: 1/2;
    grid-row: 3;
  }
  .catalog_nivelir .box_nivelir_sokkia {
    grid-column: 2/3;
    grid-row: 3;
  }
  .catalog_nivelir .box_nivelir_rgk {
    grid-column: 1/2;
    grid-row: 4;
  }
  .catalog_nivelir .box_nivelir_trimble {
    grid-column: 2/3;
    grid-row: 4;
  }
}
@media screen and (max-width: 768px) {
  .index_header {
    flex-direction: column;
    height: auto;
  }
  .index_header .left_header .h1_index {
    font-size: 42px;
  }
  .index_header .right_header .box_alphabet {
    grid-template-columns: repeat(6, 50px);
    grid-gap: 19px;
  }

  .box_menu_general .nav_general {
    display: none;
  }
  .box_menu_general .burger_menu_general {
    display: flex;
  }

  .footer_general .box_name_footer .box_logo_footer {
    font-size: 22px;
  }
  .footer_general .box_name_footer .box_logo_footer .img_logo_footer {
    height: 30px;
  }
  .footer_general .box_name_footer .txt_footer {
    font-size: 18px;
  }

  .description_general .length_number_pgz {
    width: 110px;
  }
  .description_general .length_formula_pgz {
    width: 120px;
  }
  .description_general .length_data_pgz {
    width: 110px;
  }

  .home_blog .h1_home_blog {
    font-size: 30px;
  }
  .home_blog .box_new_blog {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .home_blog .box_new_blog .box_img_new_blog {
    width: 100%;
    height: 250px;
  }
  .home_blog .box_new_blog .txt_new_blog {
    width: 100%;
    height: 250px;
    padding: 0 20px;
  }

  .main_box_article .h1_article {
    margin-bottom: 30px;
  }
  .main_box_article .txt_article {
    font-size: 20px;
    line-height: 1.4;
  }
  .main_box_article .link_article {
    font-size: 20px;
  }
  .main_box_article .header_table_vychislenie_treugolnikov {
    font-size: 10px;
    height: 35px;
  }
  .main_box_article .data_table_vychislenie_treugolnikov {
    font-size: 10px;
    height: 35px;
  }
  .main_box_article .length_number_vychislenie_treugolnikov {
    width: 48px;
  }
  .main_box_article .length_name_vychislenie_treugolnikov {
    width: 80px;
  }
  .main_box_article .length_dimension_vychislenie_treugolnikov {
    width: 90px;
  }
  .main_box_article .length_w3_vychislenie_treugolnikov {
    width: 50px;
  }
  .main_box_article .length_fixes_vychislenie_treugolnikov {
    width: 100px;
  }
  .main_box_article .length_sinus_vychislenie_treugolnikov {
    width: 90px;
  }
  .main_box_article .length_side_vychislenie_treugolnikov {
    width: 70px;
  }

  .catalog_home_instrument .catalog_menu_instrument {
    grid-template-rows: 170px 170px;
    grid-template-columns: 90%;
  }
  .catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument .img_takheometr_instrument {
    background-size: 90px;
    width: 170px;
  }
  .catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument .img_nivelir_instrument {
    background-size: 100px;
    width: 170px;
  }
  .catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument .txt_box_instrument .h2_catalog_home_instrument {
    font-size: 18px;
  }

  .catalog_takheometr {
    grid-gap: 20px;
  }
  .catalog_takheometr .h1_catalog_takheometr {
    font-size: 24px;
  }
  .catalog_takheometr .box_takheometr .h2_catalog_takheometr {
    font-size: 22px;
  }
  .catalog_takheometr .box_takheometr .link_takheometr {
    font-size: 16px;
  }

  .instrument_takheometr {
    font-size: 14px;
  }
  .instrument_takheometr .h1_instrument_takheometr {
    font-size: 24px;
  }
  .instrument_takheometr .length_name_download_instruction {
    width: 340px;
  }
  .instrument_takheometr .txt_instruction_instrument {
    margin-top: 30px;
  }
  .instrument_takheometr .box_img_instruction_instrument {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 250px 250px 250px;
  }
  .instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_1 {
    grid-column: 1/4;
  }
  .instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_2 {
    grid-column: 1/4;
    grid-row: 4/5;
  }
  .instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_3 {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  .instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_4 {
    grid-column: 3/4;
  }
  .instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_5 {
    grid-column: 3/4;
  }

  .catalog_nivelir {
    grid-gap: 20px;
  }
  .catalog_nivelir .h1_catalog_nivelir {
    font-size: 24px;
  }
  .catalog_nivelir .box_nivelir .h2_catalog_nivelir {
    font-size: 22px;
  }
  .catalog_nivelir .box_nivelir .link_nivelir {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .index_header {
    padding: 20px;
  }
  .index_header .left_header .txt1_index {
    font-size: 18px;
    margin-top: 80px;
    margin-left: 10px;
  }
  .index_header .left_header .h1_index {
    font-size: 30px;
    margin-left: 10px;
  }
  .index_header .left_header .txt2_index {
    font-size: 24px;
    margin-left: 10px;
  }
  .index_header .left_header .description_index {
    text-align: left;
  }
  .index_header .right_header .box_alphabet {
    grid-template-columns: repeat(4, 50px);
    justify-content: center;
    grid-gap: 20px;
    padding: 100px 0;
  }

  .box_menu_general .menu_alphabet_general {
    grid-template-columns: repeat(4, 50px);
  }
  .box_menu_general .menu_alphabet_general .close_alphabet_menu_general {
    top: 40px;
    right: 40px;
  }

  .footer_general {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer_general .box_name_footer .box_logo_footer {
    font-size: 20px;
  }
  .footer_general .box_name_footer .txt_footer {
    font-size: 14px;
  }
  .footer_general .box_social_contact_footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer_general .box_social_contact_footer .contact_footer {
    margin-bottom: 15px;
  }

  .box_dictionary_general a {
    font-size: 16px;
  }

  .description_general .h1_description_general {
    font-size: 28px;
  }
  .description_general .txt_description_general {
    font-size: 16px;
    line-height: 1.4;
  }
  .description_general .list_description_general {
    font-size: 16px;
    line-height: 1.4;
    padding: 0;
  }
  .description_general .figure_img_description_general .figcaption_general {
    font-size: 16px;
  }
  .description_general .header_table_pgz {
    height: 35px;
    font-size: 9px;
  }
  .description_general .data_table_pgz {
    height: 35px;
    font-size: 9px;
  }
  .description_general .length_number_pgz {
    width: 50px;
  }
  .description_general .length_formula_pgz {
    width: 70px;
  }
  .description_general .length_data_pgz {
    width: 60px;
  }
  .description_general .length_footnote_pgz {
    width: 140px;
  }
  .description_general .length_footnote_pgz2 {
    font-size: 8px;
    width: 140px;
    line-height: 1;
  }

  .home_blog .h1_home_blog {
    font-size: 26px;
  }
  .home_blog .box_new_blog .txt_new_blog a {
    font-size: 18px;
  }
  .home_blog .box_new_blog .txt_new_blog .date_new_blog {
    font-size: 14px;
  }
  .home_blog .box_new_blog .txt_new_blog .txt_home_new_blog {
    font-size: 14px;
    text-align: justify;
  }

  .main_box_article .h1_article {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .main_box_article .txt_article {
    font-size: 18px;
    line-height: 1.3;
  }
  .main_box_article .link_article {
    font-size: 18px;
  }
  .main_box_article .header_table_vychislenie_treugolnikov {
    font-size: 6px;
    height: 20px;
  }
  .main_box_article .data_table_vychislenie_treugolnikov {
    font-size: 6px;
    height: 15px;
  }
  .main_box_article .length_number_vychislenie_treugolnikov {
    width: 45px;
  }
  .main_box_article .length_name_vychislenie_treugolnikov {
    width: 70px;
  }
  .main_box_article .length_dimension_vychislenie_treugolnikov {
    width: 72px;
  }
  .main_box_article .length_w3_vychislenie_treugolnikov {
    width: 42px;
  }
  .main_box_article .length_fixes_vychislenie_treugolnikov {
    width: 80px;
  }
  .main_box_article .length_sinus_vychislenie_treugolnikov {
    width: 70px;
  }
  .main_box_article .length_side_vychislenie_treugolnikov {
    width: 60px;
  }

  .about_us {
    padding: 0 10px;
  }
  .about_us .box_timeline_about_us {
    grid-template-columns: 70px 20px 210px;
    grid-template-rows: 15px 110px 15px 110px 15px 110px;
  }
  .about_us .box_timeline_about_us .circle_timeline_about_us {
    width: 15px;
    height: 15px;
  }
  .about_us .box_timeline_about_us .line_timeline_about_us {
    margin-left: 77px;
  }
  .about_us .box_timeline_about_us .date_timeline_about_us {
    font-size: 14px;
  }
  .about_us .box_timeline_about_us .title_date_timeline_about_us {
    font-size: 14px;
  }
  .about_us .box_timeline_about_us .txt_date_timeline_about_us {
    font-size: 12px;
  }

  .general_test .h1_general_test {
    font-size: 28px;
  }
  .general_test .box_menu_test {
    grid-template-columns: 1fr;
    grid-template-rows: 280px 230px;
  }
  .general_test .box_menu_test .item_menu .link_item_menu {
    flex-direction: column;
  }
  .general_test .box_menu_test .item_menu .link_item_menu .txt_item_menu {
    text-align: center;
  }
  .general_test .box_menu_test .item_menu .link_item_menu .txt_item_menu .h2_general_test {
    margin-top: 10px;
    font-size: 20px;
  }

  .catalog_home_instrument .catalog_menu_instrument {
    grid-template-rows: 190px 190px;
    grid-template-columns: 100%;
  }
  .catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument {
    flex-direction: column;
  }
  .catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument .img_takheometr_instrument {
    background-size: 60px;
    width: 190px;
  }
  .catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument .img_nivelir_instrument {
    background-size: 80px;
    width: 190px;
  }
  .catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument .txt_box_instrument {
    width: 100%;
    text-align: center;
  }
  .catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument .txt_box_instrument .h2_catalog_home_instrument {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument .txt_box_instrument .txt_instrument {
    font-size: 12px;
  }

  .catalog_takheometr {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .catalog_takheometr .h1_catalog_takheometr {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 30px;
  }
  .catalog_takheometr .box_taheo_geomax {
    grid-column: 1;
    grid-row: 2;
  }
  .catalog_takheometr .box_taheo_leica {
    grid-column: 1;
    grid-row: 3;
  }
  .catalog_takheometr .box_taheo_nikon {
    grid-column: 1;
    grid-row: 4;
  }
  .catalog_takheometr .box_taheo_sokkia {
    grid-column: 1;
    grid-row: 5;
  }
  .catalog_takheometr .box_taheo_topcon {
    grid-column: 1;
    grid-row: 6;
  }
  .catalog_takheometr .box_taheo_trimble {
    grid-column: 1;
    grid-row: 7;
  }

  .instrument_takheometr {
    font-size: 10px;
  }
  .instrument_takheometr .h1_instrument_takheometr {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .instrument_takheometr .title_table_download_instruction {
    height: 32px;
  }
  .instrument_takheometr .data_table_download_instruction {
    height: 32px;
  }
  .instrument_takheometr .length_name_download_instruction {
    width: 320px;
    padding-left: 10px;
  }
  .instrument_takheometr .length_size_download_instruction {
    width: 100px;
  }
  .instrument_takheometr .txt_instruction_instrument {
    margin-top: 20px;
    font-size: 16px;
  }
  .instrument_takheometr .box_img_instruction_instrument {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 150px 150px 150px 150px;
  }
  .instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_1 {
    grid-column: 1/5;
  }
  .instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_2 {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  .instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_3 {
    grid-column: 3/5;
    grid-row: 2/4;
  }
  .instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_4 {
    grid-column: 1/5;
    grid-row: 4;
  }
  .instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_5 {
    grid-column: 1/5;
    grid-row: 5;
  }

  .catalog_nivelir {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .catalog_nivelir .h1_catalog_nivelir {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 30px;
  }
  .catalog_nivelir .box_nivelir_geomax {
    grid-column: 1;
    grid-row: 2;
  }
  .catalog_nivelir .box_nivelir_leica {
    grid-column: 1;
    grid-row: 3;
  }
  .catalog_nivelir .box_nivelir_nicon {
    grid-column: 1;
    grid-row: 4;
  }
  .catalog_nivelir .box_nivelir_sokkia {
    grid-column: 1;
    grid-row: 5;
  }
  .catalog_nivelir .box_nivelir_rgk {
    grid-column: 1;
    grid-row: 6;
  }
  .catalog_nivelir .box_nivelir_trimble {
    grid-column: 1;
    grid-row: 7;
  }
}
@media screen and (max-width: 320px) {
  .box_menu_general .menu_alphabet_general .close_alphabet_menu_general {
    top: 30px;
    right: 30px;
  }
}