* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index_header {
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 40px;
}
.index_header .left_header {
  height: 100%;
  width: 47%;
  background: url(../img/index/bg_point.svg) no-repeat;
  background-size: 300px;
  background-position: 0px 120px;
}
.index_header .left_header .box_left_menu_index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.index_header .left_header .box_left_menu_index .box_logo {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 26px;
  font-weight: bold;
}
.index_header .left_header .box_left_menu_index .box_logo .img_logo_index {
  height: 50px;
  margin-right: 15px;
}
.index_header .left_header .box_left_menu_index .box_logo .span_geo {
  color: #815400;
}
.index_header .left_header .box_left_menu_index .mobile_left_menu_index {
  position: fixed;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.index_header .left_header .box_left_menu_index .mobile_left_menu_index a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}
.index_header .left_header .box_left_menu_index .mobile_left_menu_index a:hover {
  color: #f06c00;
}
.index_header .left_header .box_left_menu_index .mobile_left_menu_index .close_mobile_left_menu_index {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  padding: 5px;
}
.index_header .left_header .box_left_menu_index .burger_menu {
  width: 35px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.index_header .left_header .box_left_menu_index .burger_menu .strip_burger_menu {
  width: 100%;
  height: 2px;
  background: black;
}
.index_header .left_header .txt1_index {
  margin-top: 80px;
  font-size: 28px;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #815400;
}
.index_header .left_header .h1_index {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #62574d;
}
.index_header .left_header .txt2_index {
  font-size: 40px;
  margin-bottom: 40px;
  margin-left: 30px;
  color: #815400;
}
.index_header .left_header .about_us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-left: 30px;
  background: #815400;
}
.index_header .left_header .about_us:hover {
  background: #996400;
}
.index_header .left_header .box_social {
  margin-top: 40px;
  padding-left: 30px;
}
.index_header .left_header .box_social img {
  width: 50px;
  margin-right: 20px;
}
.index_header .left_header .description_index {
  color: #a36a00;
  font-family: "Marck Script", cursive;
  text-align: right;
  padding: 0 30px;
  margin-top: 10px;
  font-size: 16px;
}
.index_header .right_header {
  height: 100%;
  width: 53%;
  background: url(../img/index/bg_seti.svg) center no-repeat;
  background-size: cover;
}
.index_header .right_header .mobile_right_menu_index {
  position: fixed;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.index_header .right_header .mobile_right_menu_index a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}
.index_header .right_header .mobile_right_menu_index a:hover {
  color: #f06c00;
}
.index_header .right_header .mobile_right_menu_index .close_mobile_right_menu_index {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  padding: 5px;
}
.index_header .right_header .box_right_menu_index {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 52px;
  margin-top: 30px;
  padding-right: 40px;
}
.index_header .right_header .box_right_menu_index .burger_menu {
  width: 35px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: l;
  cursor: pointer;
}
.index_header .right_header .box_right_menu_index .burger_menu .strip_burger_menu {
  width: 100%;
  height: 2px;
  background: black;
}
.index_header .right_header .box_alphabet {
  margin-top: 30%;
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-auto-rows: 50px;
  grid-gap: 20px;
  padding-left: 20px;
}
.index_header .right_header .box_alphabet a {
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background: rgba(197, 197, 197, 0.3);
  cursor: pointer;
}
.index_header .right_header .box_alphabet a:hover {
  background: rgba(107, 107, 107, 0.7);
  border: 1px solid white;
}

.box_dictionary_general {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-top: 40px;
}
.box_dictionary_general .title_dictionary {
  font-size: 70px;
  margin-bottom: 20px;
  border-bottom: 1px solid #424242;
  width: 40%;
}
.box_dictionary_general a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
}
.box_dictionary_general a:hover {
  text-decoration: underline;
}

.box_menu_general {
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 1px solid gray;
  position: relative;
}
.box_menu_general .box_logo_general {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}
.box_menu_general .box_logo_general .img_logo_general {
  height: 50px;
  margin-right: 15px;
}
.box_menu_general .box_logo_general .span_geo_general {
  color: #815400;
}
.box_menu_general .nav_general {
  width: 420px;
  display: flex;
  justify-content: space-between;
}
.box_menu_general .nav_general a {
  color: black;
  text-decoration: none;
}
.box_menu_general .nav_general a:hover {
  text-decoration: underline;
}
.box_menu_general .burger_menu_general {
  width: 35px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.box_menu_general .burger_menu_general .strip_burger_menu_general {
  width: 100%;
  height: 2px;
  background: black;
}
.box_menu_general .mobile_menu_general {
  position: fixed;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.box_menu_general .mobile_menu_general a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 300;
}
.box_menu_general .mobile_menu_general a:hover {
  color: #f06c00;
}
.box_menu_general .mobile_menu_general .close_mobile_menu_general {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  padding: 5px;
}
.box_menu_general .menu_alphabet_general {
  display: none;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(6, 50px);
  grid-auto-rows: 50px;
  grid-gap: 20px;
  padding-left: 20px;
  position: fixed;
  background: rgba(0, 0, 0, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.box_menu_general .menu_alphabet_general a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid #919191;
}
.box_menu_general .menu_alphabet_general a:hover {
  color: #f06c00;
}
.box_menu_general .menu_alphabet_general .close_alphabet_menu_general {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  padding: 5px;
  border: none;
  color: white;
}

.footer_general {
  max-width: 1200px;
  width: 100%;
  padding: 50px 20px;
  margin: 0 auto;
}
.footer_general .box_name_footer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 40px;
}
.footer_general .box_name_footer .box_logo_footer {
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}
.footer_general .box_name_footer .box_logo_footer .img_logo_footer {
  height: 35px;
  margin-right: 15px;
}
.footer_general .box_name_footer .box_logo_footer .span_geo_footer {
  color: #815400;
}
.footer_general .box_name_footer .strip_footer {
  height: 30px;
  width: 1px;
  background: gray;
  margin-left: 20px;
  margin-right: 10px;
}
.footer_general .box_name_footer .txt_footer {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
}
.footer_general .box_social_contact_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  padding: 20px 0;
}
.footer_general .box_social_contact_footer .contact_footer p:nth-child(1) {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.footer_general .box_social_contact_footer .contact_footer a {
  color: black;
  text-decoration: none;
}
.footer_general .box_social_contact_footer .contact_footer a:hover {
  text-decoration: underline;
}
.footer_general .box_social_contact_footer .social_footer img {
  height: 35px;
  margin-left: 15px;
}

.description_general {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 70px;
  min-height: calc(100vh - 220px);
  font-family: "IBM Plex Sans", sans-serif;
}
.description_general .list_description_general {
  font-weight: normal;
  font-size: 20px;
  list-style-position: inside;
  text-align: justify;
  padding: 0 20px 20px 20px;
}
.description_general .link_description_general {
  color: blue;
  text-decoration: none;
}
.description_general .link_description_general:hover {
  text-decoration: underline;
}
.description_general .h1_description_general {
  margin-bottom: 30px;
  color: #383838;
}
.description_general .h2_description_general {
  margin-bottom: 30px;
  font-size: 20px;
}
.description_general .txt_description_general {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}
.description_general .figure_img_description_general {
  margin: 0 auto;
  padding: 0 20px;
}
.description_general .figure_img_description_general .img_description_general {
  width: 100%;
  display: block;
}
.description_general .figure_img_description_general .figcaption_general {
  font-style: italic;
  color: #363636;
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
}
.description_general .header_table_pgz {
  border-bottom: 2px solid black;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
  height: 50px;
  max-width: 900px;
  text-align: center;
}
.description_general .data_table_pgz {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  max-width: 900px;
  text-align: center;
}
.description_general .length_number_pgz {
  width: 170px;
}
.description_general .length_formula_pgz {
  width: 200px;
}
.description_general .length_data_pgz {
  width: 150px;
}
.description_general .length_footnote_pgz {
  width: 190px;
}
.description_general .length_footnote_pgz2 {
  width: 190px;
  font-size: 11px;
  text-align: left;
  font-style: italic;
}
.description_general .header_table_rumb {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.description_general .length_dxdy_rumb {
  width: 30px;
}
.description_general .length_dir_rumb {
  width: 120px;
}
.description_general .length_number_fourth_rumb {
  width: 90px;
}
.description_general .length_formula_rumb {
  width: 140px;
}
.description_general .length_name_rumb {
  width: 120px;
}

.home_blog {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "IBM Plex Sans", sans-serif;
}
.home_blog .h1_home_blog {
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.home_blog .box_new_blog {
  width: 100%;
  height: 300px;
  display: flex;
  border-top: 1px solid gray;
}
.home_blog .box_new_blog .box_img_new_blog {
  width: 400px;
  height: 100%;
}
.home_blog .box_new_blog .txt_new_blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 400px);
  height: 100%;
  padding-left: 30px;
  padding-right: 70px;
}
.home_blog .box_new_blog .txt_new_blog a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.home_blog .box_new_blog .txt_new_blog a:hover {
  text-decoration: underline;
}
.home_blog .box_new_blog .txt_new_blog .date_new_blog {
  margin-bottom: 10px;
  font-size: 16px;
  color: #424141;
}
.home_blog .box_new_blog .txt_new_blog .txt_home_new_blog {
  font-size: 18px;
  color: #1d1d1d;
}
.home_blog .box_new_blog .img1_new_blog_home {
  background: url(/img/blog/chto-znachit-chislo-pi/chislo-pi.svg) center no-repeat;
  background-size: 180px;
}
.home_blog .box_new_blog .img2_new_blog_home {
  background: url(/img/blog/vychislenie-storon-treugolnikov/header-vychislenie-storon-treugolnikov.svg) center no-repeat;
  background-size: cover;
}

.main_box_article {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0 20px;
}
.main_box_article .h1_article {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: normal;
}
.main_box_article .txt_article {
  font-size: 21px;
  text-align: justify;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #080808;
}
.main_box_article .link_article {
  color: blue;
  text-decoration: none;
  font-size: 21px;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}
.main_box_article .figure_img_article {
  margin: 0 auto;
}
.main_box_article .figure_img_article .figcaption_article {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 18px;
  color: #363636;
}
.main_box_article .header_table_vychislenie_treugolnikov {
  max-width: 1000px;
  margin: 0 auto;
  height: 45px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-weight: 500;
}
.main_box_article .data_table_vychislenie_treugolnikov {
  max-width: 1000px;
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.main_box_article .length_number_vychislenie_treugolnikov {
  width: 60px;
  font-weight: 500;
}
.main_box_article .length_name_vychislenie_treugolnikov {
  width: 100px;
  text-align: left;
}
.main_box_article .length_dimension_vychislenie_treugolnikov {
  width: 110px;
}
.main_box_article .length_w3_vychislenie_treugolnikov {
  width: 65px;
}
.main_box_article .length_fixes_vychislenie_treugolnikov {
  width: 130px;
}
.main_box_article .length_sinus_vychislenie_treugolnikov {
  width: 130px;
}
.main_box_article .length_side_vychislenie_treugolnikov {
  width: 100px;
}

.description_general .slider {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
}
.description_general .slider_item img {
  width: 100%;
}
.description_general .slick-list {
  overflow: hidden;
}
.description_general .slick-track {
  display: flex;
}
.description_general .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 2;
  font-size: 0;
  outline: none;
}
.description_general .slick-prev {
  left: 5px;
  background: url(/img/slider/arrow-prev.svg) center no-repeat;
  width: 30px;
  height: 40px;
  background-size: 100%;
  border: none;
}
.description_general .slick-next {
  right: 5px;
  background: url(/img/slider/arrow-next.svg) center no-repeat;
  width: 35px;
  height: 40px;
  background-size: 100%;
  border: none;
}
.description_general .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.description_general .slick-dots li {
  list-style: none;
  margin: 0 5px;
}
.description_general .slick-dots .slick-active button {
  background-color: whitesmoke;
  border: 1px solid black;
}
.description_general .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: #d1d1d1;
  border-radius: 50%;
  border: none;
}

.about_us {
  max-width: 1200px;
  height: 500px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "IBM Plex Sans", sans-serif;
}
.about_us .box_timeline_about_us {
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 40px 300px;
  grid-template-rows: 20px 110px 20px 110px 20px 110px;
  margin-top: 80px;
}
.about_us .box_timeline_about_us .date_timeline_about_us {
  align-self: center;
}
.about_us .box_timeline_about_us .circle_timeline_about_us {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}
.about_us .box_timeline_about_us .line_timeline_about_us {
  width: 1px;
  border: 1px solid black;
  height: 110px;
  margin-left: 89px;
}
.about_us .box_timeline_about_us .title_date_timeline_about_us {
  font-weight: bold;
  font-size: 18px;
  align-self: center;
}
.about_us .box_timeline_about_us .txt_date_timeline_about_us {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #414141;
}
.about_us .box_timeline_about_us .item_about_us_4 {
  grid-column: 1/3;
}
.about_us .box_timeline_about_us .item_about_us_9 {
  grid-column: 1/3;
}
.about_us .box_timeline_about_us .item_about_us_14 {
  grid-column: 1/3;
}
.about_us .box_timeline_about_us .item_about_us_19 {
  grid-column: 1/3;
}

.general_test {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 600px;
  font-family: "IBM Plex Sans", sans-serif;
}
.general_test .h1_general_test {
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.general_test .box_menu_test {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px;
  grid-gap: 30px;
}
.general_test .box_menu_test .item_menu {
  display: flex;
}
.general_test .box_menu_test .item_menu .link_item_menu {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  text-decoration: none;
}
.general_test .box_menu_test .item_menu .link_item_menu .img_item_menu_1 {
  height: 100%;
  width: 250px;
  background: url(/img/test/menu-test-geodeziya.svg) center no-repeat;
}
.general_test .box_menu_test .item_menu .link_item_menu .img_item_menu_2 {
  height: 100%;
  width: 250px;
  background: url(/img/test/menu-test-topografiya.svg) center no-repeat;
}
.general_test .box_menu_test .item_menu .link_item_menu .txt_item_menu {
  max-width: 300px;
  margin-left: 10px;
}
.general_test .box_menu_test .item_menu .link_item_menu .txt_item_menu .h2_general_test {
  color: black;
  margin-bottom: 5px;
}
.general_test .box_menu_test .item_menu .link_item_menu .txt_item_menu .description_item_menu {
  color: #8f8f8f;
  letter-spacing: 1px;
  font-size: 14px;
}
.general_test .box_menu_test .item_menu:hover {
  box-shadow: 2px 2px 4px #7c7c7c;
  transition-duration: 0.3s;
}

.box_test {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 900px;
}
.box_test iframe {
  display: block;
  margin: 0 auto;
  height: 100%;
}

.catalog_home_instrument {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  height: 800px;
  font-family: "IBM Plex Sans", sans-serif;
}
.catalog_home_instrument .h1_catalog_home_instrument {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 50px;
}
.catalog_home_instrument .catalog_menu_instrument {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px;
  grid-gap: 20px;
}
.catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument {
  display: block;
  color: black;
  text-decoration: none;
}
.catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument {
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument:hover {
  box-shadow: 2px 2px 4px #7c7c7c;
  transition-duration: 0.3s;
  border: none;
}
.catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument .img_takheometr_instrument {
  height: 100%;
  width: 200px;
  background: url(/img/catalog/menu/takheometr-menu-catalog.svg) center no-repeat;
  background-size: 110px;
}
.catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument .img_nivelir_instrument {
  height: 100%;
  width: 200px;
  background: url(/img/catalog/menu/nivelir-menu-catalog.svg) center no-repeat;
  background-size: 150px;
}
.catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument .txt_box_instrument {
  width: 65%;
  padding-left: 10px;
}
.catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument .txt_box_instrument .h2_catalog_home_instrument {
  font-size: 22px;
  margin-bottom: 10px;
}
.catalog_home_instrument .catalog_menu_instrument .link_geodesy_instrument .geodesy_instrument .txt_box_instrument .txt_instrument {
  font-size: 14px;
  color: #3a3a3a;
}

.catalog_takheometr {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "IBM Plex Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 200px 200px;
}
.catalog_takheometr .h1_catalog_takheometr {
  font-weight: 500;
  text-align: center;
  font-size: 26px;
  grid-column: 1/5;
  align-self: center;
}
.catalog_takheometr .box_takheometr .h2_catalog_takheometr {
  font-weight: 300;
  border-bottom: 1px solid black;
  width: 70%;
  font-size: 26px;
  margin-bottom: 30px;
}
.catalog_takheometr .box_takheometr .link_takheometr {
  color: black;
  text-decoration: none;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.catalog_takheometr .box_takheometr .link_takheometr:hover {
  text-decoration: underline;
}
.catalog_takheometr .box_taheo_geomax {
  grid-column: 1/2;
  grid-row: 2;
}
.catalog_takheometr .box_taheo_leica {
  grid-column: 2/3;
  grid-row: 2;
}
.catalog_takheometr .box_taheo_nikon {
  grid-column: 3/4;
  grid-row: 2;
}
.catalog_takheometr .box_taheo_sokkia {
  grid-column: 1/2;
  grid-row: 3;
}
.catalog_takheometr .box_taheo_topcon {
  grid-column: 2/3;
  grid-row: 3;
}
.catalog_takheometr .box_taheo_trimble {
  grid-column: 3/4;
  grid-row: 3;
}

.instrument_takheometr {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "IBM Plex Sans", sans-serif;
}
.instrument_takheometr .h1_instrument_takheometr {
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}
.instrument_takheometr .title_table_download_instruction {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  border-bottom: 1px solid black;
  text-align: center;
}
.instrument_takheometr .data_table_download_instruction {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.instrument_takheometr .length_name_download_instruction {
  width: 360px;
  text-align: left;
  padding-left: 20px;
}
.instrument_takheometr .length_type_download_instruction {
  width: 100px;
}
.instrument_takheometr .length_size_download_instruction {
  width: 150px;
}
.instrument_takheometr .length_download_download_instruction {
  width: 100px;
  text-decoration: none;
}
.instrument_takheometr .length_download_download_instruction:hover {
  text-decoration: underline;
}
.instrument_takheometr .txt_instruction_instrument {
  margin-top: 50px;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 20px;
}
.instrument_takheometr .box_img_instruction_instrument {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 300px;
  grid-template-rows: 300px 300px 300px;
  color: #f7f7f7;
}
.instrument_takheometr .box_img_instruction_instrument .img_instrument_geomax_logo {
  background: url(/img/catalog/logo/geomax-instrument-logo.svg) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_geomax_zipp10r_pro_1 {
  background: url(/img/catalog/takheometr/geomax/geomax-zipp10r-pro/geomax-zipp10r-pro-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_geomax_zipp10r_pro_2 {
  background: url(/img/catalog/takheometr/geomax/geomax-zipp10r-pro/geomax-zipp10r-pro-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_geomax_zipp10r_pro_3 {
  background: url(/img/catalog/takheometr/geomax/geomax-zipp10r-pro/geomax-zipp10r-pro-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_geomax_zipp10r_pro_4 {
  background: url(/img/catalog/takheometr/geomax/geomax-zipp10r-pro/geomax-zipp10r-pro-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_geomax_zoom_25_1 {
  background: url(/img/catalog/takheometr/geomax/geomax-zoom-25/geomax-zoom-25-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_geomax_zoom_25_2 {
  background: url(/img/catalog/takheometr/geomax/geomax-zoom-25/geomax-zoom-25-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_geomax_zoom_25_3 {
  background: url(/img/catalog/takheometr/geomax/geomax-zoom-25/geomax-zoom-25-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_geomax_zoom_25_4 {
  background: url(/img/catalog/takheometr/geomax/geomax-zoom-25/geomax-zoom-25-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_geomax_zal120_1 {
  background: url(/img/catalog/nivelir/geomax/geomax-zal-120/geomax-zal-120-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_geomax_zal120_2 {
  background: url(/img/catalog/nivelir/geomax/geomax-zal-120/geomax-zal-120-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_geomax_zal120_3 {
  background: url(/img/catalog/nivelir/geomax/geomax-zal-120/geomax-zal-120-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_geomax_zal120_4 {
  background: url(/img/catalog/nivelir/geomax/geomax-zal-120/geomax-zal-120-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_geomax_zal124_1 {
  background: url(/img/catalog/nivelir/geomax/geomax-zal-124/geomax-zal-124-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_geomax_zal124_2 {
  background: url(/img/catalog/nivelir/geomax/geomax-zal-124/geomax-zal-124-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_geomax_zal124_3 {
  background: url(/img/catalog/nivelir/geomax/geomax-zal-124/geomax-zal-124-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_geomax_zal124_4 {
  background: url(/img/catalog/nivelir/geomax/geomax-zal-124/geomax-zal-124-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_instrument_leica_logo {
  background: url(/img/catalog/logo/leica-instrument-logo.svg) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_leica_ts03_r500_1 {
  background: url(/img/catalog/takheometr/leica/leica-ts03-r500/leica-ts03-r500-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_leica_ts03_r500_2 {
  background: url(/img/catalog/takheometr/leica/leica-ts03-r500/leica-ts03-r500-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_leica_ts03_r500_3 {
  background: url(/img/catalog/takheometr/leica/leica-ts03-r500/leica-ts03-r500-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_leica_ts03_r500_4 {
  background: url(/img/catalog/takheometr/leica/leica-ts03-r500/leica-ts03-r500-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_leica_ts07_500_1 {
  background: url(/img/catalog/takheometr/leica/leica-ts07-r500/leica-ts07-r500-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_leica_ts07_500_2 {
  background: url(/img/catalog/takheometr/leica/leica-ts07-r500/leica-ts07-r500-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_leica_ts07_500_3 {
  background: url(/img/catalog/takheometr/leica/leica-ts07-r500/leica-ts07-r500-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_leica_ts07_500_4 {
  background: url(/img/catalog/takheometr/leica/leica-ts07-r500/leica-ts07-r500-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_leica_na320_1 {
  background: url(/img/catalog/nivelir/leica/leica-na-320/leica-na-320-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_leica_na320_2 {
  background: url(/img/catalog/nivelir/leica/leica-na-320/leica-na-320-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_leica_na320_3 {
  background: url(/img/catalog/nivelir/leica/leica-na-320/leica-na-320-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_leica_na320_4 {
  background: url(/img/catalog/nivelir/leica/leica-na-320/leica-na-320-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_leica_na324_1 {
  background: url(/img/catalog/nivelir/leica/leica-na-324/leica-na-324-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_leica_na324_2 {
  background: url(/img/catalog/nivelir/leica/leica-na-324/leica-na-324-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_leica_na324_3 {
  background: url(/img/catalog/nivelir/leica/leica-na-324/leica-na-324-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_leica_na324_4 {
  background: url(/img/catalog/nivelir/leica/leica-na-324/leica-na-324-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_instrument_nikon_logo {
  background: url(/img/catalog/logo/nikon-instrument-logo.svg) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_nikon_npl_322_5_1 {
  background: url(/img/catalog/takheometr/nikon/nikon-npl-322/nikon-npl-322-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_nikon_npl_322_5_2 {
  background: url(/img/catalog/takheometr/nikon/nikon-npl-322/nikon-npl-322-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_nikon_npl_322_5_3 {
  background: url(/img/catalog/takheometr/nikon/nikon-npl-322/nikon-npl-322-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_nikon_npl_322_5_4 {
  background: url(/img/catalog/takheometr/nikon/nikon-npl-322/nikon-npl-322-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_nikon_nivo_5_mw_1 {
  background: url(/img/catalog/takheometr/nikon/nikon-nivo-5-mw+/01.jpg) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_nikon_nivo_5_mw_2 {
  background: url(/img/catalog/takheometr/nikon/nikon-nivo-5-mw+/02.jpg) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_nikon_nivo_5_mw_3 {
  background: url(/img/catalog/takheometr/nikon/nikon-nivo-5-mw+/03.jpg) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_nikon_nivo_5_mw_4 {
  background: url(/img/catalog/takheometr/nikon/nikon-nivo-5-mw+/04.jpg) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_nikon_ax_2s_1 {
  background: url(/img/catalog/nivelir/nikon/nikon-ax-2s/nikon-ax-2s-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_nikon_ax_2s_2 {
  background: url(/img/catalog/nivelir/nikon/nikon-ax-2s/nikon-ax-2s-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_nikon_ax_2s_3 {
  background: url(/img/catalog/nivelir/nikon/nikon-ax-2s/nikon-ax-2s-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_nikon_ax_2s_4 {
  background: url(/img/catalog/nivelir/nikon/nikon-ax-2s/nikon-ax-2s-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_nikon_ac_2s_1 {
  background: url(/img/catalog/nivelir/nikon/nikon-ac-2s/nikon-ac-2s-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_nikon_ac_2s_2 {
  background: url(/img/catalog/nivelir/nikon/nikon-ac-2s/nikon-ac-2s-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_nikon_ac_2s_3 {
  background: url(/img/catalog/nivelir/nikon/nikon-ac-2s/nikon-ac-2s-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_nikon_ac_2s_4 {
  background: url(/img/catalog/nivelir/nikon/nikon-ac-2s/nikon-ac-2s-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_instrument_sokkia_logo {
  background: url(/img/catalog/logo/sokkia-instrument-logo.svg) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_sokkia_ix_505_1 {
  background: url(/img/catalog/takheometr/sokkia/sokkia-ix-505/sokkia-ix-505-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_sokkia_ix_505_2 {
  background: url(/img/catalog/takheometr/sokkia/sokkia-ix-505/sokkia-ix-505-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_sokkia_ix_505_3 {
  background: url(/img/catalog/takheometr/sokkia/sokkia-ix-505/sokkia-ix-505-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_sokkia_ix_505_4 {
  background: url(/img/catalog/takheometr/sokkia/sokkia-ix-505/sokkia-ix-505-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_sokkia_cx_105_1 {
  background: url(/img/catalog/takheometr/sokkia/sokkia-cx-105/sokkia-cx-105-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_sokkia_cx_105_2 {
  background: url(/img/catalog/takheometr/sokkia/sokkia-cx-105/sokkia-cx-105-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_sokkia_cx_105_3 {
  background: url(/img/catalog/takheometr/sokkia/sokkia-cx-105/sokkia-cx-105-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_sokkia_cx_105_4 {
  background: url(/img/catalog/takheometr/sokkia/sokkia-cx-105/sokkia-cx-105-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_sokkia_b20_1 {
  background: url(/img/catalog/nivelir/sokkia/sokkia-b20/sokkia-b20-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_sokkia_b20_2 {
  background: url(/img/catalog/nivelir/sokkia/sokkia-b20/sokkia-b20-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_sokkia_b20_3 {
  background: url(/img/catalog/nivelir/sokkia/sokkia-b20/sokkia-b20-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_sokkia_b20_4 {
  background: url(/img/catalog/nivelir/sokkia/sokkia-b20/sokkia-b20-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_sokkia_sdl30_1 {
  background: url(/img/catalog/nivelir/sokkia/sokkia-sdl30/sokkia-sdl30-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_sokkia_sdl30_2 {
  background: url(/img/catalog/nivelir/sokkia/sokkia-sdl30/sokkia-sdl30-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_sokkia_sdl30_3 {
  background: url(/img/catalog/nivelir/sokkia/sokkia-sdl30/sokkia-sdl30-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_sokkia_sdl30_4 {
  background: url(/img/catalog/nivelir/sokkia/sokkia-sdl30/sokkia-sdl30-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_sokkia_sdl50_1 {
  background: url(/img/catalog/nivelir/sokkia/sokkia-sdl50/sokkia-sdl50-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_sokkia_sdl50_2 {
  background: url(/img/catalog/nivelir/sokkia/sokkia-sdl50/sokkia-sdl50-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_sokkia_sdl50_3 {
  background: url(/img/catalog/nivelir/sokkia/sokkia-sdl50/sokkia-sdl50-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_sokkia_sdl50_4 {
  background: url(/img/catalog/nivelir/sokkia/sokkia-sdl50/sokkia-sdl50-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_instrument_topcon_logo {
  background: url(/img/catalog/logo/topcon-instrument-logo.svg) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_topcon_gm55_5_1 {
  background: url(/img/catalog/takheometr/topcon/topcon-gm-55/topcon-gm-55-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_topcon_gm55_5_2 {
  background: url(/img/catalog/takheometr/topcon/topcon-gm-55/topcon-gm-55-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_topcon_gm55_5_3 {
  background: url(/img/catalog/takheometr/topcon/topcon-gm-55/topcon-gm-55-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_topcon_gm55_5_4 {
  background: url(/img/catalog/takheometr/topcon/topcon-gm-55/topcon-gm-55-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_topcon_os_105l_1 {
  background: url(/img/catalog/takheometr/topcon/topcon-os-105l/topcon-os-105l-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_topcon_os_105l_2 {
  background: url(/img/catalog/takheometr/topcon/topcon-os-105l/topcon-os-105l-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_topcon_os_105l_3 {
  background: url(/img/catalog/takheometr/topcon/topcon-os-105l/topcon-os-105l-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_topcon_os_105l_4 {
  background: url(/img/catalog/takheometr/topcon/topcon-os-105l/topcon-os-105l-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_instrument_rgk_logo {
  background: url(/img/catalog/logo/rgk-instrument-logo.svg) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_rgk_c_20_1 {
  background: url(/img/catalog/nivelir/rgk/rgk-c-20/rgk-c-20-1.webp);
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_rgk_c_20_2 {
  background: url(/img/catalog/nivelir/rgk/rgk-c-20/rgk-c-20-2.webp);
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_rgk_c_20_3 {
  background: url(/img/catalog/nivelir/rgk/rgk-c-20/rgk-c-20-3.webp);
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_rgk_c_20_4 {
  background: url(/img/catalog/nivelir/rgk/rgk-c-20/rgk-c-20-4.webp);
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_rgk_c_24_1 {
  background: url(/img/catalog/nivelir/rgk/rgk-c-24/rgk-c-24-1.webp);
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_rgk_c_24_2 {
  background: url(/img/catalog/nivelir/rgk/rgk-c-24/rgk-c-24-2.webp);
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_rgk_c_24_3 {
  background: url(/img/catalog/nivelir/rgk/rgk-c-24/rgk-c-24-3.webp);
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_rgk_c_24_4 {
  background: url(/img/catalog/nivelir/rgk/rgk-c-24/rgk-c-24-4.webp);
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_rgk_n_24_1 {
  background: url(/img/catalog/nivelir/rgk/rgk-n-24/rgk-n-24-1.webp);
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_rgk_n_24_2 {
  background: url(/img/catalog/nivelir/rgk/rgk-n-24/rgk-n-24-2.webp);
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_rgk_n_24_3 {
  background: url(/img/catalog/nivelir/rgk/rgk-n-24/rgk-n-24-3.webp);
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_rgk_n_24_4 {
  background: url(/img/catalog/nivelir/rgk/rgk-n-24/rgk-n-24-4.webp);
}
.instrument_takheometr .box_img_instruction_instrument .img_instrument_trimble_logo {
  background: url(/img/catalog/logo/trimble-instrument-logo.svg) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_trimble_c3_5_1 {
  background: url(/img/catalog/takheometr/trimble/trimble-c3/trimble-c3-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_trimble_c3_5_2 {
  background: url(/img/catalog/takheometr/trimble/trimble-c3/trimble-c3-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_trimble_c3_5_3 {
  background: url(/img/catalog/takheometr/trimble/trimble-c3/trimble-c3-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_trimble_c3_5_4 {
  background: url(/img/catalog/takheometr/trimble/trimble-c3/trimble-c3-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_trimble_c5_1 {
  background: url(/img/catalog/takheometr/trimble/trimble-c5/trimble-c5-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_trimble_c5_2 {
  background: url(/img/catalog/takheometr/trimble/trimble-c5/trimble-c5-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_trimble_c5_3 {
  background: url(/img/catalog/takheometr/trimble/trimble-c5/trimble-c5-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_takheo_trimble_c5_4 {
  background: url(/img/catalog/takheometr/trimble/trimble-c5/trimble-c5-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_dini_03_1 {
  background: url(/img/catalog/nivelir/trimble/dini-03/dini-03-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_dini_03_2 {
  background: url(/img/catalog/nivelir/trimble/dini-03/dini-03-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_dini_03_3 {
  background: url(/img/catalog/nivelir/trimble/dini-03/dini-03-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_dini_03_4 {
  background: url(/img/catalog/nivelir/trimble/dini-03/dini-03-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_dini_07_1 {
  background: url(/img/catalog/nivelir/trimble/dini-07/dini-07-1.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_dini_07_2 {
  background: url(/img/catalog/nivelir/trimble/dini-07/dini-07-2.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_dini_07_3 {
  background: url(/img/catalog/nivelir/trimble/dini-07/dini-07-3.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_nivelir_dini_07_4 {
  background: url(/img/catalog/nivelir/trimble/dini-07/dini-07-4.webp) center no-repeat;
}
.instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_1 {
  grid-column: 1/4;
}
.instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_2 {
  grid-column: 4/5;
  background-size: cover;
}
.instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_3 {
  grid-column: 1/3;
  grid-row: 2/4;
  background-size: cover;
}
.instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_4 {
  grid-column: 3/5;
  background-size: cover;
}
.instrument_takheometr .box_img_instruction_instrument .img_item_instrument_grid_5 {
  grid-column: 3/5;
  background-size: cover;
}

.catalog_nivelir {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "IBM Plex Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 200px 200px;
}
.catalog_nivelir .h1_catalog_nivelir {
  font-weight: 500;
  text-align: center;
  font-size: 26px;
  grid-column: 1/5;
  align-self: center;
}
.catalog_nivelir .box_nivelir .h2_catalog_nivelir {
  font-weight: 300;
  border-bottom: 1px solid black;
  width: 70%;
  font-size: 26px;
  margin-bottom: 30px;
}
.catalog_nivelir .box_nivelir .link_nivelir {
  color: black;
  text-decoration: none;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.catalog_nivelir .box_nivelir .link_nivelir:hover {
  text-decoration: underline;
}
.catalog_nivelir .box_nivelir_geomax {
  grid-column: 1/2;
  grid-row: 2;
}
.catalog_nivelir .box_nivelir_leica {
  grid-column: 2/3;
  grid-row: 2;
}
.catalog_nivelir .box_nivelir_nicon {
  grid-column: 3/4;
  grid-row: 2;
}
.catalog_nivelir .box_nivelir_sokkia {
  grid-column: 1/2;
  grid-row: 3;
}
.catalog_nivelir .box_nivelir_rgk {
  grid-column: 2/3;
  grid-row: 3;
}
.catalog_nivelir .box_nivelir_trimble {
  grid-column: 3/4;
  grid-row: 3;
}