* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index_header {
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 40px;
}
.index_header .left_header {
  height: 100%;
  width: 47%;
  background: url(../img/index/bg_point.svg) no-repeat;
  background-size: 300px;
  background-position: 0px 120px;
}
.index_header .left_header .box_left_menu_index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.index_header .left_header .box_left_menu_index .box_logo {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-size: 26px;
  font-weight: bold;
}
.index_header .left_header .box_left_menu_index .box_logo .img_logo_index {
  height: 50px;
  margin-right: 15px;
}
.index_header .left_header .box_left_menu_index .box_logo .span_geo {
  color: #815400;
}
.index_header .left_header .box_left_menu_index .mobile_left_menu_index {
  position: fixed;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.index_header .left_header .box_left_menu_index .mobile_left_menu_index a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}
.index_header .left_header .box_left_menu_index .mobile_left_menu_index a:hover {
  color: #f06c00;
}
.index_header .left_header .box_left_menu_index .mobile_left_menu_index .close_mobile_left_menu_index {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  padding: 5px;
}
.index_header .left_header .box_left_menu_index .burger_menu {
  width: 35px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.index_header .left_header .box_left_menu_index .burger_menu .strip_burger_menu {
  width: 100%;
  height: 2px;
  background: black;
}
.index_header .left_header .txt1_index {
  margin-top: 80px;
  font-size: 28px;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #815400;
}
.index_header .left_header .h1_index {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #62574d;
}
.index_header .left_header .txt2_index {
  font-size: 40px;
  margin-bottom: 40px;
  margin-left: 30px;
  color: #815400;
}
.index_header .left_header .about_us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-left: 30px;
  background: #815400;
}
.index_header .left_header .about_us:hover {
  background: #996400;
}
.index_header .left_header .box_social {
  margin-top: 40px;
  padding-left: 30px;
}
.index_header .left_header .box_social img {
  width: 50px;
  margin-right: 20px;
}
.index_header .left_header .description_index {
  color: #a36a00;
  font-family: "Marck Script", cursive;
  text-align: right;
  padding: 0 30px;
  margin-top: 10px;
  font-size: 16px;
}
.index_header .right_header {
  height: 100%;
  width: 53%;
  background: url(../img/index/bg_seti.svg) center no-repeat;
  background-size: cover;
}
.index_header .right_header .mobile_right_menu_index {
  position: fixed;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.index_header .right_header .mobile_right_menu_index a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}
.index_header .right_header .mobile_right_menu_index a:hover {
  color: #f06c00;
}
.index_header .right_header .mobile_right_menu_index .close_mobile_right_menu_index {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  padding: 5px;
}
.index_header .right_header .box_right_menu_index {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 52px;
  margin-top: 30px;
  padding-right: 40px;
}
.index_header .right_header .box_right_menu_index .burger_menu {
  width: 35px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: l;
  cursor: pointer;
}
.index_header .right_header .box_right_menu_index .burger_menu .strip_burger_menu {
  width: 100%;
  height: 2px;
  background: black;
}
.index_header .right_header .box_alphabet {
  margin-top: 30%;
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-auto-rows: 50px;
  grid-gap: 20px;
  padding-left: 20px;
}
.index_header .right_header .box_alphabet a {
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background: rgba(197, 197, 197, 0.3);
  cursor: pointer;
}
.index_header .right_header .box_alphabet a:hover {
  background: rgba(107, 107, 107, 0.7);
  border: 1px solid white;
}

.box_dictionary_general {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-top: 40px;
}
.box_dictionary_general .title_dictionary {
  font-size: 70px;
  margin-bottom: 20px;
  border-bottom: 1px solid #424242;
  width: 40%;
}
.box_dictionary_general a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
}
.box_dictionary_general a:hover {
  text-decoration: underline;
}

.box_menu_general {
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 1px solid gray;
}
.box_menu_general .box_logo_general {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}
.box_menu_general .box_logo_general .img_logo_general {
  height: 50px;
  margin-right: 15px;
}
.box_menu_general .box_logo_general .span_geo_general {
  color: #815400;
}
.box_menu_general .nav_general {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.box_menu_general .nav_general a {
  color: black;
  text-decoration: none;
}
.box_menu_general .nav_general a:hover {
  text-decoration: underline;
}
.box_menu_general .burger_menu_general {
  width: 35px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.box_menu_general .burger_menu_general .strip_burger_menu_general {
  width: 100%;
  height: 2px;
  background: black;
}
.box_menu_general .mobile_menu_general {
  position: fixed;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.box_menu_general .mobile_menu_general a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 300;
}
.box_menu_general .mobile_menu_general a:hover {
  color: #f06c00;
}
.box_menu_general .mobile_menu_general .close_mobile_menu_general {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  padding: 5px;
}

.footer_general {
  max-width: 1200px;
  width: 100%;
  padding: 50px 20px;
  margin: 0 auto;
}
.footer_general .box_name_footer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 40px;
}
.footer_general .box_name_footer .box_logo_footer {
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}
.footer_general .box_name_footer .box_logo_footer .img_logo_footer {
  height: 35px;
  margin-right: 15px;
}
.footer_general .box_name_footer .box_logo_footer .span_geo_footer {
  color: #815400;
}
.footer_general .box_name_footer .strip_footer {
  height: 30px;
  width: 1px;
  background: gray;
  margin-left: 20px;
  margin-right: 10px;
}
.footer_general .box_name_footer .txt_footer {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
}
.footer_general .box_social_contact_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  padding: 20px 0;
}
.footer_general .box_social_contact_footer .contact_footer p:nth-child(1) {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.footer_general .box_social_contact_footer .contact_footer a {
  color: black;
  text-decoration: none;
}
.footer_general .box_social_contact_footer .contact_footer a:hover {
  text-decoration: underline;
}
.footer_general .box_social_contact_footer .social_footer img {
  height: 35px;
  margin-left: 15px;
}

.description_general {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 70px;
  min-height: calc(100vh - 220px);
}
.description_general .list_description_general {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-size: 20px;
  list-style-position: inside;
  text-align: justify;
  padding: 0 20px 20px 20px;
}
.description_general .link_description_general {
  color: blue;
  text-decoration: none;
}
.description_general .link_description_general:hover {
  text-decoration: underline;
}
.description_general .h1_description_general {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  color: #383838;
}
.description_general .txt_description_general {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}
.description_general .formula_description {
  font-size: 26px;
}
.description_general .figure_img_description_general {
  margin: 0 auto;
  padding: 0 20px;
}
.description_general .figure_img_description_general .img_description_general {
  width: 100%;
  display: block;
}
.description_general .figure_img_description_general .figcaption_general {
  font-style: italic;
  color: #363636;
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
}

.home_blog {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "IBM Plex Sans", sans-serif;
}
.home_blog .h1_home_blog {
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.home_blog .box_new_blog {
  width: 100%;
  height: 300px;
  display: flex;
  border-top: 1px solid gray;
}
.home_blog .box_new_blog .box_img_new_blog {
  width: 400px;
  height: 100%;
}
.home_blog .box_new_blog .txt_new_blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 400px);
  height: 100%;
  padding-left: 30px;
  padding-right: 70px;
}
.home_blog .box_new_blog .txt_new_blog a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.home_blog .box_new_blog .txt_new_blog a:hover {
  text-decoration: underline;
}
.home_blog .box_new_blog .txt_new_blog .date_new_blog {
  margin-bottom: 10px;
  font-size: 16px;
  color: #424141;
}
.home_blog .box_new_blog .txt_new_blog .txt_home_new_blog {
  font-size: 18px;
  color: #1d1d1d;
}
.home_blog .box_new_blog .img1_new_blog_home {
  background: url(/img/blog/chto-znachit-chislo-pi/chislo-pi.svg) center no-repeat;
  background-size: 180px;
}

.main_box_article {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0 20px;
}
.main_box_article .h1_article {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: normal;
}
.main_box_article .txt_article {
  font-size: 21px;
  text-align: justify;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.5;
  color: #080808;
}
.main_box_article .figure_img_article {
  margin: 0 auto;
}
.main_box_article .figure_img_article .figcaption_article {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 18px;
  color: #363636;
}

.description_general .slider {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
}
.description_general .slick-list {
  overflow: hidden;
}
.description_general .slick-track {
  display: flex;
}
.description_general .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 2;
  font-size: 0;
  outline: none;
}
.description_general .slick-prev {
  left: 5px;
  background: url(/img/slider/arrow-prev.svg) center no-repeat;
  width: 30px;
  height: 40px;
  background-size: 100%;
  border: none;
}
.description_general .slick-next {
  right: 5px;
  background: url(/img/slider/arrow-next.svg) center no-repeat;
  width: 35px;
  height: 40px;
  background-size: 100%;
  border: none;
}
.description_general .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.description_general .slick-dots li {
  list-style: none;
  margin: 0 5px;
}
.description_general .slick-dots .slick-active button {
  background-color: whitesmoke;
  border: 1px solid black;
}
.description_general .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: #d1d1d1;
  border-radius: 50%;
  border: none;
}

.about_us {
  max-width: 1200px;
  height: 500px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "IBM Plex Sans", sans-serif;
}
.about_us .box_timeline_about_us {
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 40px 300px;
  grid-template-rows: 20px 110px 20px 110px 20px 110px;
  margin-top: 80px;
}
.about_us .box_timeline_about_us .date_timeline_about_us {
  align-self: center;
}
.about_us .box_timeline_about_us .circle_timeline_about_us {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}
.about_us .box_timeline_about_us .line_timeline_about_us {
  width: 1px;
  border: 1px solid black;
  height: 110px;
  margin-left: 89px;
}
.about_us .box_timeline_about_us .title_date_timeline_about_us {
  font-weight: bold;
  font-size: 18px;
  align-self: center;
}
.about_us .box_timeline_about_us .txt_date_timeline_about_us {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #414141;
}
.about_us .box_timeline_about_us .item_about_us_4 {
  grid-column: 1/3;
}
.about_us .box_timeline_about_us .item_about_us_9 {
  grid-column: 1/3;
}
.about_us .box_timeline_about_us .item_about_us_12 {
  border-style: dashed;
}
.about_us .box_timeline_about_us .item_about_us_14 {
  grid-column: 1/3;
}