.description_general{
   max-width: 1200px;
   padding: 0 20px;
   margin: 0 auto;
   padding-top: 70px;
   min-height: calc(100vh - 220px);
   font-family: 'IBM Plex Sans', sans-serif;
   .list_description_general{
      font-weight: normal;
      font-size: 20px;
      list-style-position: inside;
      text-align: justify;
      padding: 0 20px 20px 20px;
   }
   .link_description_general{
      color: blue;
      text-decoration: none;
      &:hover{
         text-decoration: underline;
      }
   }
   .h1_description_general{
      margin-bottom: 30px;
      color: rgb(56, 56, 56);
   }
   .h2_description_general{
      margin-bottom: 30px;
      font-size: 20px;
   }
   .txt_description_general{
      font-weight: normal;
      font-size: 20px;
      line-height: 1.5;
      text-align: justify;
      margin-bottom: 20px;
   }
   .figure_img_description_general{
      margin: 0 auto;
      padding: 0 20px;
      .img_description_general{
         width: 100%;
         display: block;
      }
      .figcaption_general{
         font-style: italic;
         color: rgb(54, 54, 54);
         text-align: center;
         margin: 10px 0;
         font-size: 18px;
      }
   }
   //Прямая геодезическая задача
   .header_table_pgz{
      border-bottom: 2px solid black;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: 500;
      height: 50px;
      max-width: 900px;
      text-align: center;
   }
   .data_table_pgz{
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 50px;
      max-width: 900px;
      text-align: center;
   }
   .length_number_pgz{
      width: 170px;
   }
   .length_formula_pgz{
      width: 200px;
   }
   .length_data_pgz{
      width: 150px;
   }
   .length_footnote_pgz{
      width: 190px;
   }
   .length_footnote_pgz2{
      width: 190px;
      font-size: 11px;
      text-align: left;
      font-style: italic;;
   }
   .header_table_rumb{
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
   }
   .length_dxdy_rumb{
      width: 30px;
   }
   .length_dir_rumb{
      width: 120px;
   }
   .length_number_fourth_rumb{
      width: 90px;
   }
   .length_formula_rumb{
      width: 140px;
   }
   .length_name_rumb{
      width: 120px;
   }
}