//GEOMAX=========================================
.img_item_instrument_geomax_logo{
   background: url(/img/catalog/logo/geomax-instrument-logo.svg) center no-repeat;
}
//Тахеометры=================
.img_item_takheo_geomax_1{
   background: url(/img/catalog/takheometr/geomax/geomax-zipp10r-pro/geomax-zipp10r-pro-1.webp) center no-repeat;
}
.img_item_takheo_geomax_2{
   background: url(/img/catalog/takheometr/geomax/geomax-zipp10r-pro/geomax-zipp10r-pro-2.webp) center no-repeat;
}
.img_item_takheo_geomax_3{
   background: url(/img/catalog/takheometr/geomax/geomax-zipp10r-pro/geomax-zipp10r-pro-3.webp) center no-repeat;
}
.img_item_takheo_geomax_4{
   background: url(/img/catalog/takheometr/geomax/geomax-zipp10r-pro/geomax-zipp10r-pro-4.webp) center no-repeat;
}
//Нивелиры===================
.img_item_nivelir_geomax_1{
   background: url(/img/catalog/nivelir/geomax/geomax-zal-100/geomax-zal-100-1.webp) center no-repeat;
}
.img_item_nivelir_geomax_2{
   background: url(/img/catalog/nivelir/geomax/geomax-zal-100/geomax-zal-100-2.webp) center no-repeat;
}
.img_item_nivelir_geomax_3{
   background: url(/img/catalog/nivelir/geomax/geomax-zal-100/geomax-zal-100-3.webp) center no-repeat;
}
.img_item_nivelir_geomax_4{
   background: url(/img/catalog/nivelir/geomax/geomax-zal-100/geomax-zal-100-4.webp) center no-repeat;
}


//LEICA==========================================
.img_item_instrument_leica_logo{
   background: url(/img/catalog/logo/leica-instrument-logo.svg) center no-repeat;
}
//Тахеометры=================
.img_item_takheo_leica_1{
   background: url(/img/catalog/takheometr/leica/leica-ts03-r500/leica-ts03-r500-1.webp) center no-repeat;
}
.img_item_takheo_leica_2{
   background: url(/img/catalog/takheometr/leica/leica-ts03-r500/leica-ts03-r500-2.webp) center no-repeat;
}
.img_item_takheo_leica_3{
   background: url(/img/catalog/takheometr/leica/leica-ts03-r500/leica-ts03-r500-3.webp) center no-repeat;
}
.img_item_takheo_leica_4{
   background: url(/img/catalog/takheometr/leica/leica-ts03-r500/leica-ts03-r500-4.webp) center no-repeat;
}
//Нивелиры===================
.img_item_nivelir_leica_1{
   background: url(/img/catalog/nivelir/leica/leica-na-300/leica-na-300-1.webp) center no-repeat;
}
.img_item_nivelir_leica_2{
   background: url(/img/catalog/nivelir/leica/leica-na-300/leica-na-300-2.webp) center no-repeat;
}
.img_item_nivelir_leica_3{
   background: url(/img/catalog/nivelir/leica/leica-na-300/leica-na-300-3.webp) center no-repeat;
}
.img_item_nivelir_leica_4{
   background: url(/img/catalog/nivelir/leica/leica-na-300/leica-na-300-4.webp) center no-repeat;
}


//NIKON==========================================
.img_item_instrument_nikon_logo{
   background: url(/img/catalog/logo/nikon-instrument-logo.svg) center no-repeat;
}
//Тахеометры=================
.img_item_takheo_nikon_1{
   background: url(/img/catalog/takheometr/nikon/nikon-npl-322/nikon-npl-322-1.webp) center no-repeat;
}
.img_item_takheo_nikon_2{
   background: url(/img/catalog/takheometr/nikon/nikon-npl-322/nikon-npl-322-2.webp) center no-repeat;
}
.img_item_takheo_nikon_3{
   background: url(/img/catalog/takheometr/nikon/nikon-npl-322/nikon-npl-322-3.webp) center no-repeat;
}
.img_item_takheo_nikon_4{
   background: url(/img/catalog/takheometr/nikon/nikon-npl-322/nikon-npl-322-4.webp) center no-repeat;
}
//Нивелиры===================
.img_item_nivelir_nikon_1{
   background: url(/img/catalog/nivelir/nikon/nikon-ax-2s/nikon-ax-2s-1.webp) center no-repeat;
}
.img_item_nivelir_nikon_2{
   background: url(/img/catalog/nivelir/nikon/nikon-ax-2s/nikon-ax-2s-2.webp) center no-repeat;
}
.img_item_nivelir_nikon_3{
   background: url(/img/catalog/nivelir/nikon/nikon-ax-2s/nikon-ax-2s-3.webp) center no-repeat;
}
.img_item_nivelir_nikon_4{
   background: url(/img/catalog/nivelir/nikon/nikon-ax-2s/nikon-ax-2s-4.webp) center no-repeat;
}


//SOKKIA=========================================
.img_item_instrument_sokkia_logo{
   background: url(/img/catalog/logo/sokkia-instrument-logo.svg) center no-repeat;
}
//Тахеометры=================
.img_item_takheo_sokkia_1{
   background: url(/img/catalog/takheometr/sokkia/sokkia-ix-505/sokkia-ix-505-1.webp) center no-repeat;
}
.img_item_takheo_sokkia_2{
   background: url(/img/catalog/takheometr/sokkia/sokkia-ix-505/sokkia-ix-505-2.webp) center no-repeat;
}
.img_item_takheo_sokkia_3{
   background: url(/img/catalog/takheometr/sokkia/sokkia-ix-505/sokkia-ix-505-3.webp) center no-repeat;
}
.img_item_takheo_sokkia_4{
   background: url(/img/catalog/takheometr/sokkia/sokkia-ix-505/sokkia-ix-505-4.webp) center no-repeat;
}
//Нивелиры===================
.img_item_nivelir_sokkia_1{
   background: url(/img/catalog/nivelir/sokkia/sokkia-b20/sokkia-b20-1.webp) center no-repeat;
}
.img_item_nivelir_sokkia_2{
   background: url(/img/catalog/nivelir/sokkia/sokkia-b20/sokkia-b20-2.webp) center no-repeat;
}
.img_item_nivelir_sokkia_3{
   background: url(/img/catalog/nivelir/sokkia/sokkia-b20/sokkia-b20-3.webp) center no-repeat;
}
.img_item_nivelir_sokkia_4{
   background: url(/img/catalog/nivelir/sokkia/sokkia-b20/sokkia-b20-4.webp) center no-repeat;
}


//TOPCON=========================================
.img_item_instrument_topcon_logo{
   background: url(/img/catalog/logo/topcon-instrument-logo.svg) center no-repeat;
}
//Тахеометры=================
.img_item_takheo_topcon_1{
   background: url(/img/catalog/takheometr/topcon/topcon-gm-55/topcon-gm-55-1.webp) center no-repeat;
}
.img_item_takheo_topcon_2{
   background: url(/img/catalog/takheometr/topcon/topcon-gm-55/topcon-gm-55-2.webp) center no-repeat;
}
.img_item_takheo_topcon_3{
   background: url(/img/catalog/takheometr/topcon/topcon-gm-55/topcon-gm-55-3.webp) center no-repeat;
}
.img_item_takheo_topcon_4{
   background: url(/img/catalog/takheometr/topcon/topcon-gm-55/topcon-gm-55-4.webp) center no-repeat;
}


//RGK============================================
.img_item_instrument_rgk_logo{
   background: url(/img/catalog/logo/rgk-instrument-logo.svg) center no-repeat;
}
//Нивелиры===================
.img_item_nivelir_rgk_1{
   background: url(/img/catalog/nivelir/rgk/rgk-c-20/rgk-c-20-1.webp);
}
.img_item_nivelir_rgk_2{
   background: url(/img/catalog/nivelir/rgk/rgk-c-20/rgk-c-20-2.webp);
}
.img_item_nivelir_rgk_3{
   background: url(/img/catalog/nivelir/rgk/rgk-c-20/rgk-c-20-3.webp);
}
.img_item_nivelir_rgk_4{
   background: url(/img/catalog/nivelir/rgk/rgk-c-20/rgk-c-20-4.webp);
}

//TRIMBLE========================================
.img_item_instrument_trimble_logo{
   background: url(/img/catalog/logo/trimble-instrument-logo.svg) center no-repeat;
}
//Тахеометры=================
.img_item_takheo_trimble_1{
   background: url(/img/catalog/takheometr/trimble/trimble-c3/trimble-c3-1.webp) center no-repeat;
}
.img_item_takheo_trimble_2{
   background: url(/img/catalog/takheometr/trimble/trimble-c3/trimble-c3-2.webp) center no-repeat;
}
.img_item_takheo_trimble_3{
   background: url(/img/catalog/takheometr/trimble/trimble-c3/trimble-c3-3.webp) center no-repeat;
}
.img_item_takheo_trimble_4{
   background: url(/img/catalog/takheometr/trimble/trimble-c3/trimble-c3-4.webp) center no-repeat;
}
//Нивелиры===================
.img_item_nivelir_trimble_1{
   background: url(/img/catalog/nivelir/trimble/dini-03/dini-03-1.webp) center no-repeat;
}
.img_item_nivelir_trimble_2{
   background: url(/img/catalog/nivelir/trimble/dini-03/dini-03-2.webp) center no-repeat;
}
.img_item_nivelir_trimble_3{
   background: url(/img/catalog/nivelir/trimble/dini-03/dini-03-3.webp) center no-repeat;
}
.img_item_nivelir_trimble_4{
   background: url(/img/catalog/nivelir/trimble/dini-03/dini-03-4.webp) center no-repeat;
}