@media screen and (max-width:1440px){
   //======================================================
   //===============  СТРАНИЦА INDEX  =====================
   //======================================================
   .index_header{
      .left_header{
         width: 39%;
         .h1_index{
            font-size: 50px;
         }
      }
      .right_header{
         width: 61%;
      }
   }
}

@media screen and (max-width:1200px){
   //======================================================
   //===============  СТРАНИЦА INDEX  =====================
   //======================================================
   .index_header{
      .left_header{
         width: 40%;
         .txt1_index{
            font-size: 24px;
         }
         .h1_index{
            font-size: 40px;
         }
         .txt2_index{
            font-size: 34px;
         }
      }
      .right_header{
         width: 60%;
      }
   }
}

@media screen and (max-width:992px){
   //======================================================
   //===============  СТРАНИЦА INDEX  =====================
   //======================================================
   .index_header{
      flex-direction: column;
      height: auto;
      .left_header{
         width: 100%;
         padding-bottom: 40px;
         background-position: 0px 50px;
         .box_left_menu_index{
            .burger_menu{
               display: flex;
            }
         }
         .txt1_index{
            font-size: 26px;
            margin-top: 100px;
         }
         .h1_index{
            font-size: 44px;
         }
         .txt2_index{
            font-size: 38px;
         }
      }
      .right_header{
         width: 100%;
         .box_right_menu_index{
            display: none;
         }
         .box_alphabet{
            margin-top: 0;
            padding: 150px 0;
            p{
               background: rgba(197, 197, 197, 0.5);
            }
         }
      }
   }
   //======================================================
   //===============  СТРАНИЦА BLOG  ======================
   //======================================================
   .home_blog{
      .h1_home_blog{
         font-size: 34px;
      }
      .box_new_blog{
         height: 250px;
         .box_img_new_blog{
            width: 330px;
         }
         .txt_new_blog{
            width: calc(100% - 330px);
            padding-right: 30px;
            a{
               font-size: 20px;
               margin-bottom: 10px;
            }
            .txt_home_new_blog{
               font-size: 16px;
            }
         }
      }
   }
}

@media screen and (max-width:768px){
   //======================================================
   //===============  СТРАНИЦА INDEX  =====================
   //======================================================
   .index_header{
      flex-direction: column;
      height: auto;
      .left_header{
         .h1_index{
            font-size: 42px;
         }
      }
      .right_header{
         .box_alphabet{
            grid-template-columns: repeat(6, 50px);
            grid-gap: 19px;
         }
      }
   }
   //======================================================
   //=================  ГЛАВНОЕ МЕНЮ  =====================
   //======================================================
   .box_menu_general{
      .nav_general{
         display: none;
      }
      .burger_menu_general{
         display: flex;
      }
   }
   //======================================================
   //======================  FOOTER  ======================
   //======================================================
   .footer_general{
      .box_name_footer{
         .box_logo_footer{
            font-size: 22px;
            .img_logo_footer{
               height: 30px;
            }
         }
         .txt_footer{
            font-size: 18px;
         }
      }
   }
   //======================================================
   //===============  СТРАНИЦА BLOG  ======================
   //======================================================
   .home_blog{
      .h1_home_blog{
         font-size: 30px;
      }
      .box_new_blog{
         flex-direction: column;
         width: 100%;
         height: auto;
         .box_img_new_blog{
            width: 100%;
            height: 250px;
         }
         .txt_new_blog{
            width: 100%;
            height: 250px;
            padding: 0 20px;
         }
      }
   }
   //======================================================
   //===============  СТРАНИЦА СТАТЬИ  ====================
   //======================================================
   .main_box_article{
      .h1_article{
         margin-bottom: 30px;
      }
      .txt_article{
         font-size: 20px;
         line-height: 1.4;
      }
   }
}

@media screen and (max-width:480px){
   //======================================================
   //===============  СТРАНИЦА INDEX  =====================
   //======================================================
   .index_header{
      padding: 20px;
      .left_header{
         .txt1_index{
            font-size: 18px;
            margin-top: 80px;
            margin-left: 10px;
            .h1_index{
               font-size: 30px;
               margin-left: 10px;
            }
            .txt2_index{
               font-size: 24px;
               margin-left: 10px;
            }
         }
      }
      .right_header{
         .box_alphabet{
            grid-template-columns: repeat(4, 50px);
            justify-content: center;
            grid-gap: 20px;
            padding: 100px 0;
         }
      }
   }
   //======================================================
   //======================  FOOTER  ======================
   //======================================================
   .footer_general{
      padding-top: 40px;
      padding-bottom: 20px;
      .box_name_footer{
         .box_logo_footer{
            font-size: 20px;
         }
         .txt_footer{
            font-size: 14px;
         }
      }
      .box_social_contact_footer{
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         .contact_footer{
            margin-bottom: 15px;
         }
      }
   }
   //======================================================
   //=====================  АЛФАВИТ  ======================
   //======================================================
   .box_dictionary_general{
      a{
         font-size: 16px;
      }
   }
   //======================================================
   //====================  ОПРЕДЕЛЕНИЯ  ===================
   //======================================================
   .description_general{
      .h1_description_general{
         font-size: 28px;
      }
      .txt_description_general{
         font-size: 16px;
         line-height: 1.4;
      }
      .list_description_general{
         font-size: 16px;
         line-height: 1.4;
         padding: 0;
      }
      .formula_description{
         font-size: 22px;
      }
      .figure_img_description_general{
         .figcaption_general{
            font-size: 16px;
         }
      }
   }
   //======================================================
   //===============  СТРАНИЦА BLOG  ======================
   //======================================================
   .home_blog{
      .h1_home_blog{
         font-size: 26px;
      }
      .box_new_blog{
         .txt_new_blog{
            a{
               font-size: 18px;
            }
            .date_new_blog{
               font-size: 14px;
            }
            .txt_home_new_blog{
               font-size: 14px;
               text-align: justify;
            }
         }
      }
   }
   //======================================================
   //===============  СТРАНИЦА СТАТЬИ  ====================
   //======================================================
   .main_box_article{
      .h1_article{
         margin-bottom: 20px;
         font-size: 26px;
      }
      .txt_article{
         font-size: 18px;
         line-height: 1.3;
      }
   }
   //======================================================
   //===============  СТРАНИЦА О НАС  =====================
   //======================================================
   .about_us{
      padding: 0 10px;
      .box_timeline_about_us{
         grid-template-columns: 70px 20px 210px;
         grid-template-rows: 15px 110px 15px 110px 15px 110px;
         .circle_timeline_about_us{
            width: 15px;
            height: 15px;
         }
         .line_timeline_about_us{
            margin-left: 77px;
         }
         .date_timeline_about_us{
            font-size: 14px;
         }
         .title_date_timeline_about_us{
            font-size: 14px;
         }
         .txt_date_timeline_about_us{
            font-size: 12px;
            // text-align: justify;
         }
      }
   }
}

@media screen and (max-width:320px){}